
main {
	width: 100%;
	height: auto;
	overflow: hidden;
	padding-bottom: 40px;
}

.box {
	width:50%;
	height: 500px;
	float: left;
}

.box a {
	margin-top: 60px;
	text-decoration:none;
	color:#f89423;
	display:block;
}

.box a:hover {
	color: #ca4824;
}

#red {
	padding: 80px;
}

.img1 {
	background-image: url('Images/MainBanner2.jpg');
	background-size:cover;
}

.img2 {
	background-image: url('Images/MainBanner.jpg');
	background-size:cover;
}

.flextest {
	display: block;
	width: 90vw;
	height: auto;
	margin: 0 auto;
	background-color: white;
}

.flextest h1 {
	display:block;
	padding: 10px;
	border-left: 2px solid #f89423;
	color:#121a27;
}

.flextest h1:hover {
	color: #f89423;
}

.bottomtest {
	margin: 0 auto;
	width: 90vw;
	height: 80px;
	bottom: 20px !important;
	color: white;
}


.LearnAbout {
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 60px;
	padding-right: 60px;
	margin-left: 20px;
	margin-top:20px;
	border: 1px solid orange;
	border-radius: 10px;
	background-color: white;
	font-size: 1.2em;
}

.LearnAbout:hover {
	color: orange;
}

@media screen and (max-width: 1024px) {
	
	.flextest {
		width: 100%;
	}
	
	.box {
		width: 100%;
	}
	
	
	#red {
		height: auto;
		padding: 40px;
	}
	
	#green {
		height: 250px;
	}
}

@media screen and (max-width: 1024px) {
	#red {
		width: 100% !important;
	}
}

@media screen and (max-width: 640px) {
	.flextest .img1 {
		width: 100%;
	}
	
	#red {
		padding: 10px;
		padding-bottom: 30px;
		height: auto;
	}
}