nav {
	width: 100%;
	padding: 10px;
	height: auto;
	position: absolute;
	z-index: 1000000;
}

nav a {
	text-decoration: none;
	color: white;
	padding: 10px;
}

nav a:hover {
	border-bottom: 2px solid orange;
	color: orange;
}

@media screen and (max-width: 1024px) {
	nav {
		display: none;
	}
}
